---
import Layout from "../layouts/Layout.astro";
import Hexagono from "../components/Hexagono.astro";
---

<Layout title="Welcome to Astro.">
  <main class="hexagon-container">
    <div class="honeycomb-row flex-wrap flex-md-nowrap">
      <Hexagono
        title="Construye tus matemá..."
        href="Construye tus matemá..."
        clave="Construye tus matemá..."
        descarga="Construye tus matemá..."
      />
      <Hexagono
        title="Otro hexágono"
        href="Otro hexágono"
        clave="Otro hexágono"
        descarga="Otro hexágono"
      />
      <Hexagono
        title="Más hexágonos"
        href="Más hexágonos"
        clave="Más hexágonos"
        descarga="Más hexágonos"
      />

      <Hexagono
        title="Más hexágonos"
        href="Más hexágonos"
        clave="Más hexágonos"
        descarga="Más hexágonos"
      />
      <Hexagono
        title="Más hexágonos"
        href="Más hexágonos"
        clave="Más hexágonos"
        descarga="Más hexágonos"
      />
      <Hexagono
        title="Más hexágonos"
        href="Más hexágonos"
        clave="Más hexágonos"
        descarga="Más hexágonos"
      />
     
    </div>
  </main>
</Layout>

<style>
  
  @media (min-width: 768px) {
    .classrooms .honeycomb-row {
        margin-bottom: 35px;
    }
}

.honeycomb-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 13px;
}

@media (min-width: 768px) {
    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
</style>
