---
import Layout from "../layouts/Layout.astro";
import Hexagono from "../components/Hexagono.astro";
---

<Layout title="Welcome to Astro.">
  <div class="honeycomb">
    <div class="honeycomb-row flex-wrap flex-md-nowrap">
      <Hexagono
        title="Construye tus matemáticas"
        href="/salon"
        clave="Clav0000"
        descarga="Descarga material"
      />
      <Hexagono
        title="Otro hexágono"
        href="/salon"
        clave="Otro hexágono"
        descarga="Descarga otro material"
      />
      <Hexagono
        title="Más hexágonos"
        href="/salon"
        clave="Clave000000"
        descarga="Descarga más material"
      />
      <Hexagono
        title="Construye tus matemáticas"
        href="/salon"
        clave="Construye tus matemáticas"
        descarga="Descarga material"
      />
      <Hexagono
        title="Otro hexágono"
        href="/salon"
        clave="Otro hexágono"
        descarga="Descarga otro material"
      />
      <Hexagono
        title="Más hexágonos"
        href="/salon"
        clave="Clave000000"
        descarga="Descarga más material"
        />
      </div>
    </div>
    
  </Layout>

  
  <style>
    .honeycomb {
      display: flex !important;
      align-items: center !important;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  </style>

