---
import Layout from "../layouts/Layout.astro";
import Hexagono from "../components/Hexagono.astro";
import ClassroomService from "../dominio/Classrooms/services/Classroom.service";
import ClassroomLegacyRepository from "../dominio/Classrooms/repository/ClassroomLegacy.repository";

const classRoomService = new ClassroomService(new ClassroomLegacyRepository());
const classrooms = await classRoomService.getClassrooms();

---

<Layout title="Welcome to Astro.">
  <div class="honeycomb">
    <div class="honeycomb-row flex-wrap flex-md-nowrap">
      { classrooms?.map(classR => 
      <Hexagono
        title="Construye tus matemáticas"
        href={`/salon/${classR.id}?bimester=1`}
        clave={ classR.group.name }
        descarga="Descarga material"
      />
      ) }
    </div>
  </div>
    
</Layout>

  
  <style>
    .honeycomb {
      display: flex !important;
      align-items: center !important;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  </style>

