---
interface Props {
  name: string;
  title: string;
  class: string;
  imgs: string[];
}

const { title, imgs, class: className, name } = Astro.props as Props;
---

<div data-name={name}>
  <h1 class={className}>{title}</h1>
  { imgs.slice(0, 10).map((img) => (
    <img class="_img-responsive img-framed" src={img} alt="Image" />
  )) }
  <hr />
</div>
