---
interface Props {
  title: string;

}

const { title } = Astro.props;
---


<div class="path-nav">
    <button class="prev-btn btn-blank">
      <i class="fa fa-angle-left" style="color: rgb(39, 118, 213);"></i>
  </button>
    <h2
      style="color: rgb(39, 118, 213); border-bottom: 3px solid rgb(39, 118, 213);"  >
      {title}
    </h2>
    <button class="next-btn btn-blank">
      <i class="fa fa-angle-right" style="color: rgb(39, 118, 213);"></i>
    </button>
  </div>


  <script>
let currentIndex = 1; // Valor inicial del parámetro bimester
const maxIndex = 10;  // Define el máximo valor que puede tener el bimester
const minIndex = 1;   // Define el valor mínimo para el bimester
const prevBtn = document.querySelector('.prev-btn') as HTMLButtonElement;
const nextBtn = document.querySelector('.next-btn') as HTMLButtonElement;

function updateButtons(): void {
  // Deshabilitar botones si estás en el primer o último bimester
  prevBtn.disabled = currentIndex === minIndex;
  nextBtn.disabled = currentIndex === maxIndex;
}

function navigateToNewRoute() {
  const newUrl = `/salon/225?bimester=${currentIndex}`;
  window.location.href = newUrl;
}

// Función para avanzar
nextBtn.addEventListener('click', () => {
  if (currentIndex < maxIndex) {
    currentIndex++;
    console.log('Avanzar al bimester:', currentIndex);
    navigateToNewRoute();
  }
});

// Función para retroceder
prevBtn.addEventListener('click', () => {
  if (currentIndex > minIndex) {
    currentIndex--;
    console.log('Retroceder al bimester:', currentIndex);
    navigateToNewRoute();
  }
});

// Inicializa el estado de los botones al cargar la página
updateButtons();

  </script>
  
  <style>
    @media (min-width: 768px) {
      .path-nav {
        margin: 0 35px;
      }
    }
  
    .path-nav {
      position: relative;
      margin: 0 10px;
    }
  
    .path-nav > button:disabled {
      opacity: 0.4;
    }
  
    button.btn-blank:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  
    .path-nav > .prev-btn {
      left: 0;
    }
  
    .path-nav > button {
      position: absolute;
      color: #2776d5;
      font-size: 1.7em;
      background: none;
      border: 0;
      top: 0;
      cursor: pointer;
    }
  
    button.btn-blank {
      font-size: 14px;
      background-color: transparent;
      border: none;
      text-align: left;
      cursor: pointer;
    }
  
    h2 {
      color: #2776d5;
      text-align: center;
      font-size: 1.8em;
      border-bottom: 1px solid #000;
      padding-bottom: 20px;
      font-weight: bold;
    }
  </style>
  