---
import Layout from "../../layouts/Layout.astro";
import Titles from "../../components/Titles.astro";
import Activities from "../../components/Activities.astro";
---

<Layout title="Welcome to Astro.">
  <Titles title="Número. Adición y sustracción" />

  <div>
    <div class="path-wrapper">
        <div class="path-row" style="color: rgb(145, 82, 168);">
        <Activities title="Actividad 1" href="" img="" />
        <Activities title="Actividad 1" href="" img="" />
        <Activities title="Actividad 1" href="" img="" />
        </div>

      <div class="path-turn d-none d-lg-flex" style="background: rgb(145, 82, 168); border-color: rgb(145, 82, 168);"></div>
      <div class="path-row" style="color: rgb(145, 82, 168);">
        <Activities title="Actividad 1" href="" img="" />
        <Activities title="Actividad 1" href="" img="" />
        <Activities title="Actividad 1" href="" img="" />
      </div>
	  <div class="path-turn d-none d-lg-flex" style="background: rgb(145, 82, 168); border-color: rgb(145, 82, 168);"></div>
	  <div class="path-row" style="color: rgb(145, 82, 168);">
		<Activities title="Actividad 1" href="" img="" />
		<Activities title="Actividad 1" href="" img="" />
		<Activities title="Actividad 1" href="" img="" />
	  </div>
	
	 <div class="path-turn d-none d-lg-flex" style="background: rgb(145, 82, 168); border-color: rgb(145, 82, 168);"></div>
	  <div class="path-row" style="color: rgb(145, 82, 168);">
		<Activities title="Actividad 1" href="" img="" />
		<Activities title="Actividad 1" href="" img="" />
		<Activities title="Actividad 1" href="" img="" />
	  </div>
   


    </div>
 </div>
  

</Layout>
