---
import Layout from "../../../layouts/Layout.astro";
import Titles from "../../../components/Titles.astro";
import Activities from "../../../components/Activities.astro";
import ActividadesService from "../../../dominio/Actividades/services/Actividades.service";
import ActividadesLegacyRepository from "../../../dominio/Actividades/repository/ActividadesLegacy.repository";

const idSalon = Astro.params["idSalon"];

const actividadesService = new ActividadesService(new ActividadesLegacyRepository());

const actividades = await actividadesService.getActividades(idSalon);
---

<Layout title="Welcome to Astro.">
  <Titles title="Número. Adición y sustracción" />

  <div>
    <div class="path-wrapper">
        <div class="path-row" style="color: rgb(145, 82, 168);">
        <Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
        <Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
        <Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
        </div>

      <div class="path-turn d-none d-lg-flex" style="background: rgb(145, 82, 168); border-color: rgb(145, 82, 168);"></div>
      <div class="path-row" style="color: rgb(145, 82, 168);">
        <Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
        <Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
        <Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
      </div>
	  <div class="path-turn d-none d-lg-flex" style="background: rgb(145, 82, 168); border-color: rgb(145, 82, 168);"></div>
	  <div class="path-row" style="color: rgb(145, 82, 168);">
		<Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
		<Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
		<Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
	  </div>
	
	 <div class="path-turn d-none d-lg-flex" style="background: rgb(145, 82, 168); border-color: rgb(145, 82, 168);"></div>
	  <div class="path-row" style="color: rgb(145, 82, 168);">
		<Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
		<Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
		<Activities title="Actividad 1" href="/page" img="https://cmsv3dev.potencia.mx/web/content/potencia.cms.learning.sequence.activity/4/image" />
	  </div>
   


    </div>
 </div>
  

</Layout>
