---
import Layout from "../../../../../layouts/Layout.astro";
import EncabezadoPage from "../../../../../components/EncabezadoPage.astro";
import Contenido from "../../../../../components/Contenido.astro"
import FichaDocenteService from "../../../../../dominio/FichaDocente/services/FichaDocente.service";
import FichaDocenteLegacyRepository from "../../../../../dominio/FichaDocente/repository/FichaDocenteLegacy.repository";

const idSalon = Astro.params['idSalon'];
const idActividad = Astro.params['idActividad'];

const fichaDocenteService = new FichaDocenteService(new FichaDocenteLegacyRepository());
const fichaDocente = await fichaDocenteService.getFichaDocente(idSalon, idActividad);
---

<Layout title="Welcome to Astro.">
  <div class="content">
    <div class="record-wrapper">
      
      <EncabezadoPage />

      <hr />
      <hr />

      <Contenido
      name="discover"
      imgs={['https://cmsv3dev.potencia.mx/web/content/potencia.cms.section.content/8/image']}
      class="discover-title"
      title="Descubre"
      
      
      />

      <Contenido
      name="ideacreate"
      imgs={['https://cmsv3dev.potencia.mx/web/content/potencia.cms.section.content/9/image','https://cmsv3dev.potencia.mx/web/content/potencia.cms.section.content/10/image']}
      class="ideacreate-title"
      title="Idea"
      
      
      />
     

      <hr />
      
    </div>
  </div>
</Layout>
