---
import Layout from "../../layouts/Layout.astro";
import TitlesPage from "../../components/TitlesPage.astro";
import HexagonoPages from "../../components/HexagonoPage.astro";
---

<Layout title="Welcome to Astro.">
  <div class="content">
    <div>
      <div>
        <div class="record-wrapper">
            <TitlesPage title="Actividad 1  Número. Adición y sustracción" />
            
            <div class="d-flex flex-column flex-lg-row justify-content-between record-nav">

            <HexagonoPages name="Descubre" class="hexagon -discoverh" />
            <HexagonoPages name="Idea y Crea" class="hexagon -idea" />
            <HexagonoPages name="Classroom" class="hexagon -classroomh" href="https://classroom.google.com/c/MTU4MTk4MTMyODM2"/>
            <HexagonoPages class="hexagon -playh" />

            <div>
              <div class="record-actions">
                <br />
                <div class="-hexagon-line">
                  <HexagonoPages class="hexagon -tiny -add" />
                </div>

                <HexagonoPages class="hexagon -tiny -view" />
              </div>
            </div>
        </div>








          
          <hr />
          <hr />













          <div name="discover">
            <h1 class="discover-title">Descubre</h1>
            <img
              class="_img-responsive img-framed"
              src="https://cmsv3dev.potencia.mx/web/content/potencia.cms.section.content/8/image"
            />
            <hr />
          </div>
          <div name="ideacreate">
            <h1 class="ideacreate-title">Idea</h1>
            <img
              class="_img-responsive img-framed"
              src="https://cmsv3dev.potencia.mx/web/content/potencia.cms.section.content/9/image"
            /><img
              class="_img-responsive img-framed"
              src="https://cmsv3dev.potencia.mx/web/content/potencia.cms.section.content/10/image"
            />
            <hr />
          </div>
          <hr />
          <!-- react-empty: 1540 -->
        </div>
        <!-- react-empty: 1541 -->
      </div>
    </div>
  </div>
</Layout>
